#small{
height: 70px;
width: auto;
padding-right: 10px;
}

#medium{
  height: 100px;
  width: auto;
  padding-right: 10px;
}

#large{
  height: 130px;
  width: auto;
  padding-right: 10px;
}

#jumbo{
  height: 160px;
  width: auto;
  padding-right: 10px;
}

#size {
  padding: 20px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;

}
body {
  background-color: lightblue;
  font-family: 'Press Start 2P', cursive;
}

form {
  margin: 10px;
  padding: 30px;
}
